 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     background-color: rgb(255, 255, 255);
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
 }

 h1 {
     background-color: black;
     color: white;
     border: 1px solid;
     border-radius: 10px;
 }

 h1:hover {
     background-color: blue;
     color: red;
 }