 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     background-color: rgb(78, 209, 181);
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
 }

 .A {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-color: rgba(240, 248, 255, 0.233);
     width: 250px;
     height: 250px;
     border-radius: 20px;
     border: solid 5px;

 }

 .A form {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 1px;
 }

 .A input {
     width: 225px;
     height: 25px;
     color: black;
     background-color: aliceblue;
 }

 .B {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-color: rgba(240, 248, 255, 0.233);
     width: 250px;
     height: 250px;
     border-radius: 20px;
     border: solid 5px;
 }